$colors: (
  blue: (
    1: #e6f4ff,
    2: #c7e6ff,
    3: #98cdff,
    4: #64acfa,
    5: #2f8dfc,
    6: #0068ea,
    7: #004ac1,
    8: #003191,
    9: #00216e,
    10: #000f40,
  ),
  green: (
    1: #f5fff1,
    2: #c9ecba,
    3: #9bd780,
    4: #69bc3b,
    5: #4ba100,
    6: #3a7f00,
    7: #2b6200,
    8: #1b4200,
    9: #113000,
    10: #071b00,
  ),
  red: (
    1: #fff1f0,
    2: #ffd8d4,
    3: #ffb5b0,
    4: #ff817d,
    5: #fb494c,
    6: #d8001d,
    7: #a70015,
    8: #75000d,
    9: #520009,
    10: #2e0005,
  ),
  orange: (
    1: #fff1ec,
    2: #ffd9cc,
    3: #fbb79f,
    4: #f98860,
    5: #f65700,
    6: #c44300,
    7: #993200,
    8: #6d2200,
    9: #4d1500,
    10: #290800,
  ),
  neutral: (
    1: #f5f5f6,
    2: #e7e8e9,
    3: #d9dadb,
    4: #cbcccd,
    5: #bdbebf,
    6: #a9abad,
    7: #97999b,
    8: #838586,
    9: #6c6d6f,
    10: #57595b,
    11: #424446,
    12: #313335,
    13: #252729,
    14: #171b1f,
  ),
  black: #000000,
  white: #ffffff,
);

$black: map-get($colors, black);
$white: map-get($colors, white);

$blue-1: map-get($colors, blue, 1);
$blue-2: map-get($colors, blue, 2);
$blue-3: map-get($colors, blue, 3);
$blue-4: map-get($colors, blue, 4);
$blue-5: map-get($colors, blue, 5);
$blue-6: map-get($colors, blue, 6);
$blue-7: map-get($colors, blue, 7);
$blue-8: map-get($colors, blue, 8);
$blue-9: map-get($colors, blue, 9);
$blue-10: map-get($colors, blue, 10);

$green-1: map-get($colors, green, 1);
$green-2: map-get($colors, green, 2);
$green-3: map-get($colors, green, 3);
$green-4: map-get($colors, green, 4);
$green-5: map-get($colors, green, 5);
$green-6: map-get($colors, green, 6);
$green-7: map-get($colors, green, 7);
$green-8: map-get($colors, green, 8);
$green-9: map-get($colors, green, 9);
$green-10: map-get($colors, green, 10);

$red-1: map-get($colors, red, 1);
$red-2: map-get($colors, red, 2);
$red-3: map-get($colors, red, 3);
$red-4: map-get($colors, red, 4);
$red-5: map-get($colors, red, 5);
$red-6: map-get($colors, red, 6);
$red-7: map-get($colors, red, 7);
$red-8: map-get($colors, red, 8);
$red-9: map-get($colors, red, 9);
$red-10: map-get($colors, red, 10);

$orange-1: map-get($colors, orange, 1);
$orange-2: map-get($colors, orange, 2);
$orange-3: map-get($colors, orange, 3);
$orange-4: map-get($colors, orange, 4);
$orange-5: map-get($colors, orange, 5);
$orange-6: map-get($colors, orange, 6);
$orange-7: map-get($colors, orange, 7);
$orange-8: map-get($colors, orange, 8);
$orange-9: map-get($colors, orange, 9);
$orange-10: map-get($colors, orange, 10);

$neutral-1: map-get($colors, neutral, 1);
$neutral-2: map-get($colors, neutral, 2);
$neutral-3: map-get($colors, neutral, 3);
$neutral-4: map-get($colors, neutral, 4);
$neutral-5: map-get($colors, neutral, 5);
$neutral-6: map-get($colors, neutral, 6);
$neutral-7: map-get($colors, neutral, 7);
$neutral-8: map-get($colors, neutral, 8);
$neutral-9: map-get($colors, neutral, 9);
$neutral-10: map-get($colors, neutral, 10);
$neutral-11: map-get($colors, neutral, 11);
$neutral-12: map-get($colors, neutral, 12);
$neutral-13: map-get($colors, neutral, 13);
$neutral-14: map-get($colors, neutral, 14);
