.snowOverlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 10;
}

.snowflake {
  position: absolute;
  top: 0;
  color: white;
  user-select: none;
  pointer-events: none;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
